@model Movies.Web.ViewModel.Movies.CreateMovieViewModel

<div class="content-grid">
    <div class="section-banner">
        <h1 class="section-banner-title" style="font-size: 3rem;">@Model.Title</h1>
    </div>
    <div class="container-fluid p-4" style="width: 100%; height: 100%; object-fit: cover; overflow: hidden">
        @{ if (Model.Image != null)
            {
                <img src="~/uploadedImages/@Model.Image" alt="image" style="resize:inherit; align-self:center">
            }
            else
            {
                <img src="~/uploadedImages/error.png" alt="image" style="resize:inherit; align-self:center">
            }
        }
    </div>
    <div class="container">
        <div class="col-md-3 info-movies">
            <div class="stats-decoration secondary">
                <div class="stats-decoration-icon-wrap">
                    <svg class="stats-decoration-icon icon-thumbs-up">
                        <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                </div>
                <p class="stats-decoration-title">@Model.Genre.Name</p>
                <p class="stats-decoration-text">Genre</p>
            </div>
        </div>
        <div class="col-md-3 info-movies">
            <div class="stats-decoration secondary">
                <div class="stats-decoration-icon-wrap">
                    <svg class="stats-decoration-icon icon-thumbs-up">
                        <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                </div>
                <p class="stats-decoration-title">@Model.Studio.Name</p>
                <p class="stats-decoration-text">Studio</p>
            </div>
        </div>
        <div class="col-md-3 info-movies" style="margin:-10px;">
            <div class="stats-decoration secondary">
                <div class="stats-decoration-icon-wrap">
                    <svg class="stats-decoration-icon icon-thumbs-up">
                        <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                </div>
                <p class="stats-decoration-title">@Model.Director</p>
                <p class="stats-decoration-text">Director</p>
            </div>
        </div>
        <div class="col-md-3 info-movies">
            <div class="stats-decoration secondary">
                <div class="stats-decoration-icon-wrap">
                    <svg class="stats-decoration-icon icon-thumbs-up">
                        <use xlink:href="#svg-thumbs-up"></use>
                    </svg>
                </div>
                <p class="stats-decoration-title">@Model.Year</p>
                <p class="stats-decoration-text">Year</p>
            </div>
        </div>
    </div>
    <div class="grid grid-9-6">
        <div class="marketplace-content grid-column">
            <div class="tab-box">
                <div class="tab-box-options">
                    <div class="tab-box-option">
                        <p class="tab-box-option-title">Description</p>
                    </div>
                </div>
                <div class="tab-box-items">
                    <div class="tab-box-item">
                        <div class="tab-box-item-content">
                            <p class="tab-box-item-title">@Model.Title</p>
                            <p class="tab-box-item-paragraph">@Model.Summary</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsAdmin == true)
        {
            <table>
                <tr>
                    <td>
                        <button type="button" onclick="location.href='@Url.Action("Edit", "Movies", new {id = Model.Id})'">Edit</button>
                    </td>
                    <td>
                        <button type="button" onclick="location.href='@Url.Action("Delete", "Movies", new {id = Model.Id})'">Delete</button>
                    </td>
                </tr>
            </table>
        }
    </div>
</div>