@model Movies.Web.ViewModel.Movies.IndexMovieViewModel
<!-- FLOATY BAR -->
<aside class="floaty-bar">
    <!-- BAR ACTIONS -->
    <div class="bar-actions">
        <!-- PROGRESS STAT -->
        <div class="progress-stat">
            <!-- BAR PROGRESS WRAP -->
            <div class="bar-progress-wrap">
                <!-- BAR PROGRESS INFO -->
                <p class="bar-progress-info">Next: <span class="bar-progress-text"></span></p>
                <!-- /BAR PROGRESS INFO -->
            </div>
            <!-- /BAR PROGRESS WRAP -->
            <!-- PROGRESS STAT BAR -->
            <div id="logged-user-level-cp" class="progress-stat-bar"></div>
            <!-- /PROGRESS STAT BAR -->
        </div>
        <!-- /PROGRESS STAT -->
    </div>
    <!-- /BAR ACTIONS -->
    <!-- BAR ACTIONS -->
    <div class="bar-actions">
        <!-- ACTION LIST -->
        <div class="action-list dark">
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item" href="marketplace-cart.html">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-shopping-bag">
                    <use xlink:href="#svg-shopping-bag"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item" href="hub-profile-requests.html">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-friend">
                    <use xlink:href="#svg-friend"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item" href="hub-profile-messages.html">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-messages">
                    <use xlink:href="#svg-messages"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
            <!-- ACTION LIST ITEM -->
            <a class="action-list-item unread" href="hub-profile-notifications.html">
                <!-- ACTION LIST ITEM ICON -->
                <svg class="action-list-item-icon icon-notification">
                    <use xlink:href="#svg-notification"></use>
                </svg>
                <!-- /ACTION LIST ITEM ICON -->
            </a>
            <!-- /ACTION LIST ITEM -->
        </div>
        <!-- /ACTION LIST -->
        <!-- ACTION ITEM WRAP -->
        <a class="action-item-wrap" href="hub-profile-info.html">
            <!-- ACTION ITEM -->
            <div class="action-item dark">
                <!-- ACTION ITEM ICON -->
                <svg class="action-item-icon icon-settings">
                    <use xlink:href="#svg-settings"></use>
                </svg>
                <!-- /ACTION ITEM ICON -->
            </div>
            <!-- /ACTION ITEM -->
        </a>
        <!-- /ACTION ITEM WRAP -->
    </div>
    <!-- /BAR ACTIONS -->
</aside>
<!-- /FLOATY BAR -->
<!-- CONTENT GRID -->
<div class="content-grid">
    <!-- SECTION BANNER -->
    <div class="section-banner">
        <!-- SECTION BANNER ICON -->
        <img class="section-banner-icon" src="img/banner/newsfeed-icon.png" alt="newsfeed-icon">
        <!-- /SECTION BANNER ICON -->
        <!-- SECTION BANNER TITLE -->
        <p class="section-banner-title">Catalog</p>
        <!-- /SECTION BANNER TITLE -->
        <!-- SECTION BANNER TEXT -->
        <p class="section-banner-text">Start your new adventure!</p>
        <!-- /SECTION BANNER TEXT -->
    </div>
    <!-- /SECTION BANNER -->
    <!-- SECTION HEADER -->
    <div class="section-header">
        <!-- SECTION HEADER INFO -->
        <div class="section-header-info">
            <!-- SECTION PRETITLE -->
            <p class="section-pretitle">Browse Movies</p>
            <!-- /SECTION PRETITLE -->
            <!-- SECTION TITLE -->
            <h2 class="section-title">All Movies</h2>
            <!-- /SECTION TITLE -->
        </div>
        <!-- /SECTION HEADER INFO -->
    </div>
    <!-- /SECTION HEADER -->
    <!-- SECTION FILTERS BAR -->
    <div class="section-filters-bar v4">
        <!-- SECTION FILTERS BAR ACTIONS -->
        <div class="section-filters-bar-actions">
            <!-- FORM -->
            <form class="form" method="post" asp-action="Index" asp-controller="Movies">
                <!-- FORM ITEM -->
                <div class="form-item split">
                    <!-- FORM INPUT -->
                    <div class="form-input">
                        <input asp-for="SearchResult" type="text" name="SearchResult" placeholder="Search" />
                    </div>
                    <!-- /FORM INPUT -->
                    <!-- BUTTON -->
                    <button asp-action="Index" asp-controller="Movies" asp-route-searchResult="Model.SearchResult" class="button primary">
                        <!-- ICON MAGNIFYING GLASS -->
                        <svg class="icon-magnifying-glass">
                            <use xlink:href="#svg-magnifying-glass"></use>
                        </svg>
                        <!-- /ICON MAGNIFYING GLASS -->
                    </button>
                    <!-- /BUTTON -->
                </div>
                <!-- /FORM ITEM -->
            </form>
            <!-- /FORM -->
        </div>
        <!-- /SECTION FILTERS BAR ACTIONS -->

    </div>
    <!-- /SECTION FILTERS BAR -->
    <!-- MARKETPLACE CONTENT -->
    <div class="marketplace-content">
        <!-- GRID -->
        @{ if (Model.Movies.Count != 0)
            {
                <div class="grid grid-3-3-3 centered">
                    <!-- PRODUCT PREVIEW -->
                    @foreach (var item in Model.Movies)
                    {
                        <div class="product-preview">
                            <!-- PRODUCT PREVIEW IMAGE -->
                            <a href="marketplace-product.html">
                                <figure class="product-preview-image liquid">
                                    <img src="img/marketplace/items/01.jpg" alt="item-01">
                                </figure>
                            </a>
                            <!-- /PRODUCT PREVIEW IMAGE -->
                            <!-- PRODUCT PREVIEW INFO -->
                            <div class="product-preview-info">
                                <!-- TEXT STICKER -->
                                @if (Model.UserMovies == null || !Model.UserMovies.Any(m => m.Id == item.Id))
                                {
                                    <p class="text-sticker"><span class="highlighted"><a asp-action="AddMovie" asp-controller="User" asp-route-movieId="@item.Id"><strong>+</strong></a></span></p>
                                }
                                else
                                {
                                    <p class="text-sticker"><span class="highlighted"><a asp-action="RemoveMovie" asp-controller="User" asp-route-movieId="@item.Id"><strong>-</strong></a></span></p>
                                }

                                <!-- /TEXT STICKER -->
                                <!-- PRODUCT PREVIEW TITLE -->
                                <p class="product-preview-title"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></p>
                                <!-- /PRODUCT PREVIEW TITLE -->
                                <!-- PRODUCT PREVIEW CATEGORY -->
                                <p class="product-preview-category digital">@Html.DisplayFor(modelItem => item.Genre.Name)</p>
                                <!-- /PRODUCT PREVIEW CATEGORY -->
                                <!-- PRODUCT PREVIEW TEXT -->
                                <p class="product-preview-text">Studio: @Html.DisplayFor(modelItem => item.Studio.Name) <br /> Director: @Html.DisplayFor(modelItem => item.Director)</p>
                                <!-- /PRODUCT PREVIEW TEXT -->
                            </div>
                        </div>
                    }

                    <!-- /PRODUCT PREVIEW INFO -->
                </div>
            }
            else
            {
                <div class="grid grid-6 centered">
                    <h6>There are no movies with such title, make sure the search is not empty</h6>
                </div>
            }
        }
    </div>
</div>