@model Movies.Web.ViewModel.Movies.IndexMovieViewModel
<div class="content-grid">
    <div class="section-banner">
        <img class="section-banner-icon" src="img/banner/newsfeed-icon.png" alt="newsfeed-icon">
        <p class="section-banner-title">Catalog</p>
        <p class="section-banner-text">Start your new adventure!</p>
    </div>
    <div class="section-header">
        <div class="section-header-info">
            <p class="section-pretitle">Browse Movies</p>
            <h2 class="section-title">All Movies</h2>
        </div>
    </div>
    <div class="section-filters-bar v4">
        <div class="section-filters-bar-actions">
            <form class="form" method="post" asp-action="Index" asp-controller="Movies">
                <div class="form-item split">
                    <div class="form-input">
                        <input asp-for="SearchResult" type="text" name="SearchResult" placeholder="Search" />
                    </div>
                    <button asp-action="Index" asp-controller="Movies" asp-route-searchResult="Model.SearchResult" class="button primary">
                        <svg class="icon-magnifying-glass">
                            <use xlink:href="#svg-magnifying-glass"></use>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="marketplace-content">
        @{ if (Model.Movies.Count != 0)
            {
                <div class="grid grid-3-3-3 centered">
                    @foreach (var item in Model.Movies)
                    {
                        <div class="product-preview">
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id">
                                <figure class="product-preview-image liquid">
                                    <img src="@item.ImagePath" alt="@item.Image">
                                </figure>
                            </a>
                            <div class="product-preview-info">
                                @if (Model.UserMovies == null || !Model.UserMovies.Any(m => m.Id == item.Id))
                                {
                                    <p class="text-sticker"><span class="highlighted"><a asp-action="AddMovie" asp-controller="User" asp-route-movieId="@item.Id"><strong>+</strong></a></span></p>
                                }
                                else
                                {
                                    <p class="text-sticker"><span class="highlighted"><a asp-action="RemoveMovie" asp-controller="User" asp-route-movieId="@item.Id"><strong>-</strong></a></span></p>
                                }
                                <p class="product-preview-title"><a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></p>
                                <p class="product-preview-category digital">@Html.DisplayFor(modelItem => item.Genre.Name)</p>
                                <p class="product-preview-text">Studio: @Html.DisplayFor(modelItem => item.Studio.Name) <br /> Director: @Html.DisplayFor(modelItem => item.Director)</p>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="grid grid-6 centered">
                    <h6>There are no movies with such title, make sure the search is not empty</h6>
                    <button type="button" onclick="location.href='@Url.Action("Index", "Movies")'" style="width:100px; height:50px;">See all </button>
                </div>
            }
        }
    </div>
</div>