@model Movies.Web.ViewModel.User.UserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml"; ;
    var returnUrl = Context.Request.Query["returnurl"];
}

<div class="landing">
    <div class="landing-decoration"></div>
    <div class="landing-info">
        <div class="logo">
            <svg class="icon-logo-vikinger">
                <use xlink:href="#svg-logo-vikinger"></use>
            </svg>
        </div>
        <h2 class="landing-info-pretitle">@localizer["welcome"]</h2>
        <h1 class="landing-info-title">Binger</h1>
        <p class="landing-info-text">@localizer["description"]</p>
        <div class="tab-switch">
            <p class="tab-switch-button login-register-form-trigger">@localizer["login"]</p>
            <p class="tab-switch-button login-register-form-trigger">@localizer["register"]</p>
        </div>
    </div>
    <div class="landing-form">
        <div class="form-box login-register-form-element">
            <img class="form-box-decoration overflowing" src="img/landing/rocket.png" alt="rocket">
            <h2 class="form-box-title">Account Login</h2>
            <form class="form" method="POST" asp-route-returnurl="@returnUrl" asp-action="Login">
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="login-username">Email</label>
                            <input asp-for="Email" type="text" id="login-username" name="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="login-password">Password</label>
                            <input asp-for="Password" type="password" id="login-password" name="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <button type="submit" class="button medium secondary">Login to your Account!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="form-box login-register-form-element">
            <img class="form-box-decoration" src="img/landing/rocket.png" alt="rocket">
            <h2 class="form-box-title">Create your Account!</h2>
            <form class="form" method="POST" asp-route-returnurl="@returnUrl" asp-action="Register">
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-email">Your Email</label>
                            <input asp-for="Email" type="text" id="register-email" name="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-username">Username</label>
                            <input asp-for="Username" type="text" id="register-username" name="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-password">Password</label>
                            <input asp-for="Password" type="password" id="register-password" name="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-password-repeat">Repeat Password</label>
                            <input asp-for="RepeatedPassword" type="password" id="register-password-repeat" name="RepeatedPassword">
                            <span asp-validation-for="RepeatedPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-item">
                        <button type="submit" class="button medium primary">Register Now!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>