@model Movies.Web.ViewModel.Movies.CreateMovieViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Add a new movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Year" class="control-label"></label>
                <input asp-for="@Model.Year" class="form-control" />
                <span asp-validation-for="@Model.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Director" class="control-label"></label>
                <input asp-for="@Model.Director" class="form-control" />
                <span asp-validation-for="@Model.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Studio.Name" class="control-label"></label>
                <input asp-for="@Model.Studio.Name" class="form-control" />
                <span asp-validation-for="@Model.Studio.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Studio.Address" class="control-label"></label>
                <input asp-for="@Model.Studio.Address" class="form-control" />
                <span asp-validation-for="@Model.Studio.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Genre.Name" class="control-label"></label>
                <input list="genres" asp-for="@Model.Genre.Name" class="form-control" />
                <datalist id="genres">
                    @foreach (var item in Model.Genres)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </datalist>
                <span asp-validation-for="@Model.Genre.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
